<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsib.dao.PolicyInsuredMapper" >
  <resultMap id="BaseResultMap" type="com.dsib.entity.PolicyInsured" >
    <id column="BUSINESS_NO" property="businessNo" jdbcType="VARCHAR" />
    <result column="INSURED_CODE" property="insuredCode" jdbcType="VARCHAR" />
    <result column="INSURED_NAME" property="insuredName" jdbcType="VARCHAR" />
    <result column="APPLII_DENTITY" property="appliiDentity" jdbcType="VARCHAR" />
    <result column="INSURED_ADDRESS" property="insuredAddress" jdbcType="VARCHAR" />
    <result column="IDENTIFY_TYPE" property="identifyType" jdbcType="VARCHAR" />
    <result column="IDENTIFY_NUMBER" property="identifyNumber" jdbcType="VARCHAR" />
    <result column="BIRTH_DAY" property="birthDay" jdbcType="DATE" />
    <result column="AGE" property="age" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="POST_CODE" property="postCode" jdbcType="VARCHAR" />
    <result column="PHONE_NUMBER" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="INSURED_TYPE" property="insuredType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    BUSINESS_NO, INSURED_CODE, INSURED_NAME, APPLII_DENTITY, INSURED_ADDRESS, IDENTIFY_TYPE, 
    IDENTIFY_NUMBER, BIRTH_DAY, AGE, SEX, POST_CODE, PHONE_NUMBER, INSURED_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from POLICYINSURED
    where BUSINESS_NO = #{businessNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from POLICYINSURED
    where BUSINESS_NO = #{businessNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dsib.entity.PolicyInsured" >
    insert into POLICYINSURED (BUSINESS_NO, INSURED_CODE, INSURED_NAME, 
      APPLII_DENTITY, INSURED_ADDRESS, IDENTIFY_TYPE, 
      IDENTIFY_NUMBER, BIRTH_DAY, AGE, 
      SEX, POST_CODE, PHONE_NUMBER, 
      INSURED_TYPE)
    values (#{businessNo,jdbcType=VARCHAR}, #{insuredCode,jdbcType=VARCHAR}, #{insuredName,jdbcType=VARCHAR}, 
      #{appliiDentity,jdbcType=VARCHAR}, #{insuredAddress,jdbcType=VARCHAR}, #{identifyType,jdbcType=VARCHAR}, 
      #{identifyNumber,jdbcType=VARCHAR}, #{birthDay,jdbcType=DATE}, #{age,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{insuredType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dsib.entity.PolicyInsured" >
    insert into POLICYINSURED
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="businessNo != null" >
        BUSINESS_NO,
      </if>
      <if test="insuredCode != null" >
        INSURED_CODE,
      </if>
      <if test="insuredName != null" >
        INSURED_NAME,
      </if>
      <if test="appliiDentity != null" >
        APPLII_DENTITY,
      </if>
      <if test="insuredAddress != null" >
        INSURED_ADDRESS,
      </if>
      <if test="identifyType != null" >
        IDENTIFY_TYPE,
      </if>
      <if test="identifyNumber != null" >
        IDENTIFY_NUMBER,
      </if>
      <if test="birthDay != null" >
        BIRTH_DAY,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="postCode != null" >
        POST_CODE,
      </if>
      <if test="phoneNumber != null" >
        PHONE_NUMBER,
      </if>
      <if test="insuredType != null" >
        INSURED_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="businessNo != null" >
        #{businessNo,jdbcType=VARCHAR},
      </if>
      <if test="insuredCode != null" >
        #{insuredCode,jdbcType=VARCHAR},
      </if>
      <if test="insuredName != null" >
        #{insuredName,jdbcType=VARCHAR},
      </if>
      <if test="appliiDentity != null" >
        #{appliiDentity,jdbcType=VARCHAR},
      </if>
      <if test="insuredAddress != null" >
        #{insuredAddress,jdbcType=VARCHAR},
      </if>
      <if test="identifyType != null" >
        #{identifyType,jdbcType=VARCHAR},
      </if>
      <if test="identifyNumber != null" >
        #{identifyNumber,jdbcType=VARCHAR},
      </if>
      <if test="birthDay != null" >
        #{birthDay,jdbcType=DATE},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="insuredType != null" >
        #{insuredType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dsib.entity.PolicyInsured" >
    update POLICYINSURED
    <set >
      <if test="insuredCode != null" >
        INSURED_CODE = #{insuredCode,jdbcType=VARCHAR},
      </if>
      <if test="insuredName != null" >
        INSURED_NAME = #{insuredName,jdbcType=VARCHAR},
      </if>
      <if test="appliiDentity != null" >
        APPLII_DENTITY = #{appliiDentity,jdbcType=VARCHAR},
      </if>
      <if test="insuredAddress != null" >
        INSURED_ADDRESS = #{insuredAddress,jdbcType=VARCHAR},
      </if>
      <if test="identifyType != null" >
        IDENTIFY_TYPE = #{identifyType,jdbcType=VARCHAR},
      </if>
      <if test="identifyNumber != null" >
        IDENTIFY_NUMBER = #{identifyNumber,jdbcType=VARCHAR},
      </if>
      <if test="birthDay != null" >
        BIRTH_DAY = #{birthDay,jdbcType=DATE},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        POST_CODE = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="insuredType != null" >
        INSURED_TYPE = #{insuredType,jdbcType=VARCHAR},
      </if>
    </set>
    where BUSINESS_NO = #{businessNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dsib.entity.PolicyInsured" >
    update POLICYINSURED
    set INSURED_CODE = #{insuredCode,jdbcType=VARCHAR},
      INSURED_NAME = #{insuredName,jdbcType=VARCHAR},
      APPLII_DENTITY = #{appliiDentity,jdbcType=VARCHAR},
      INSURED_ADDRESS = #{insuredAddress,jdbcType=VARCHAR},
      IDENTIFY_TYPE = #{identifyType,jdbcType=VARCHAR},
      IDENTIFY_NUMBER = #{identifyNumber,jdbcType=VARCHAR},
      BIRTH_DAY = #{birthDay,jdbcType=DATE},
      AGE = #{age,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      POST_CODE = #{postCode,jdbcType=VARCHAR},
      PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      INSURED_TYPE = #{insuredType,jdbcType=VARCHAR}
    where BUSINESS_NO = #{businessNo,jdbcType=VARCHAR}
  </update>
</mapper>